@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./reset.scss');
@import url('./variables.scss');
@import url('./themes/dark.scss');
@import url('./themes/light.scss');

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body * {
  transition: all .3s ease;
}

button{
  cursor: pointer;
}

.hidden{
  opacity: 0;
  pointer-events: none;
}

%heading{
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Cormorant SC", serif;
  font-weight: 500;
  color: var(--painting-heading-color);
}
h1{
  @extend %heading;
  font-size: 16px;
}
h2{
  @extend %heading;
  font-size: 12px;
}

.paragraph_big_light{
  font-size: 16px;
  font-weight: 300;
}
.paragraph_big_medium{
  font-size: 16px;
  font-weight: 500;
}
.paragraph_base{
  font-size: 14px;
  font-weight: 300;
}
.paragraph_small{
  font-size: 12px;
  font-weight: 300;
}

%caption{
  font-weight: bold;
  text-transform: uppercase;
  color: var(--painting-caption-color);
}
.caption_big{
  @extend %caption;
  font-size: 12px;
}
.caption_small{
  @extend %caption;
  font-size: 8px;
}


.container{
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width:1440px) {
   
  .container{
      max-width: 1240px;
      padding: 0 100px;
  }
}