@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./reset.scss');
@import url('./variables.scss');

button{
  cursor: pointer;
}

.container{
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width:1440px) {
   
  .container{
      max-width: 1240px;
      padding: 0 100px;
  }
}