:root {
    
    // colors
    --primary-white: #fff;
    --primary-black: #121212;
    --primary-light-gray: #DEDEDE;
    --primary-dark-gray: #575757;

    --secondary-white: #FCFCFC;
    --secondary-black: #1A1818;
    --secondary-gray: #9C9C9C;

    --accent-red: #9B4B4B;
    --accent-gold: #AB8956;

    --button-use-light: #F3F3F3;
    --button-use-dark: #1B1B1B;

    // sizes
    --header-height-big: 80px;
    --header-height-small: 64px;
    --svg-width: 16px;
    --svg-height: 16px;


    --border-radius: 4px;
}
