:root {
    font-family: "Urbanist", sans-serif;

    // colors
    --primary-white: #fff;
    --primary-black: #fff;
    --primary-light-gray: #DEDEDE;
    --primary-light-dark-gray: #575757;

    --secondary-white: #FCFCFC;
    --secondary-black: #1A1818;
    --secondary-gray: #9C9C9C;

    --accent-red: #9B4B4B;
    --accent-gold: #AB8956;


    // sizes
    --header-height-big: 80px;
    --header-height-small: 64px;
    --svg-width: 16px;
    --svg-height: 16px;


    --border-radius: 4px;
}
