.ThemeSwitcher__btn{
    background-color: var(--header-icon-bg-color);
    padding: 10px;
    border-radius: 50%;

    & svg{
        fill: var(--header-icon-color);
    }
}

// ниже (мобилки) ховера нет
@media (min-width: 1280px) {
    .ThemeSwitcher__btn:hover{
        background-color: var(--header-icon-bg-use);
    }
}