.Pagination{
    margin: 0 auto;
    padding-bottom: 20px;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__btn{
        border-radius: var(--border-radius);
        font-size: 16px;
        padding: 8px;
        border-bottom: 1px solid transparent;
        color: var(--pagination-btn-color);
    }
    &__btn_active{
        background-color: var(--pagination-btn-bg-use);
        font-weight: 700;
    }
   
    &__btn__arrow{
        background: transparent;
        border-bottom: none !important;
        fill: var(--pagination-btn-color);
    }
    &__btn__arrow:disabled{
        opacity: .4;
        cursor:auto;
    }

    &__btn + &__btn{
        margin-left: 4px;
    }
}

// ниже (мобилки) ховера нет
@media (min-width: 1280px) {
    .Pagination__btn__number:hover{
        background-color: var(--pagination-btn-bg-use);
        border-bottom: 1px solid var(--pagination-btn-color);
        font-weight: bold;
    }
    .Pagination__btn__arrow:hover{
        background-color: var(--pagination-btn-bg-use);
    }
}