.PaintingsList{
    margin: 20px 0 40px 0;

    &__error{
        margin-top: 60px;
    }

    &__container{
        margin: 0 auto;
        padding: 0 20px;
    }

    &__inner{

        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
    }
    
}

@media (min-width: 768px) {
    .PaintingsList__inner{
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width:1440px) {
    .PaintingsList__inner{
        gap: 32px;
        grid-template-columns: (repeat(3, 1fr));
    } 
}