.header{
    &__inner{
        height: var(--header-height-big);

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo{
        fill: var(--primary-light-dark-gray);
    }
}