.PaintingsList{
    margin: 20px 0 40px 0;

    &__container{
        margin: 0 auto;
        // background-color: teal;
        padding: 0 20px;
        // max-width: 280px;
    }

    &__inner{
        // background-color: yellow;

        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
    }
    
}

@media (min-width: 768px) {
    .PaintingsList__inner{
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
    }
}

// @media (min-width: 1280px) {
    
// }

@media (min-width:1440px) {
    .PaintingsList__inner{
        gap: 32px;
        grid-template-columns: (repeat(3, 1fr));
    } 
    // .PaintingsList__container{
    //     max-width: 1240px;
    //     padding: 0 100px;
    // }
}