.app_theme_dark{
    --bg-color: var(--primary-black);

    --header-bg-color: var(--primary-black);
    --header-logo-color: var(--primary-light-gray);
    
    --header-icon-color: var(--primary-light-gray);
    --header-icon-bg-color: var(--secondary-black);
    --header-icon-bg-use: var(--button-use-dark);

    --search-icon-fill: var(--primary-light-gray);
    --search-input-placeholder-color: var(--primary-dark-gray);
    --search-input-text-color: var(--primary-light-gray);

    --painting-heading-color: var(--primary-light-gray);
    --painting-caption-color: var(--accent-gold);

    --pagination-btn-color: var(--primary-light-gray);
    --pagination-btn-bg-use: var(--button-use-dark);
}