.app_theme_light{
    --bg-color: var(--primary-white);

    --header-bg-color: var(--primary-white);
    --header-logo-color: var(--primary-dark-gray);

    --header-icon-color: var(--primary-black);
    --header-icon-bg-color: var(--secondary-white);
    --header-icon-bg-use: var(--button-use-light);
}