.app_theme_light{
    --bg-color: var(--primary-white);

    --text-color: var(--primary-dark-gray);
    --text-secondary-color: var(--secondary-gray);

    --header-bg-color: var(--primary-white);
    --header-logo-color: var(--primary-dark-gray);

    --header-icon-color: var(--primary-black);
    --header-icon-bg-color: var(--secondary-white);
    --header-icon-bg-use: var(--button-use-light);

    --search-icon-fill: var(--primary-dark-gray);
    --search-input-placeholder-color: var(--secondary-gray);
    --search-input-text-color: var(--primary-dark-gray);
    --search-input-border-color: var(--primary-dark-gray);

    --painting-heading-color: var(--primary-black);
    --painting-caption-color: var(--accent-red);

    --pagination-btn-color: var(--primary-dark-gray);
    --pagination-btn-bg-use: var(--button-use-light);
}