.PaintingsListItem{
    height: 185px;
    width: 100%;

    background-color: #ccc;
}

@media (min-width: 768px) {
    .PaintingsListItem{
        height: 220px;
    }
}

@media (min-width: 1440px) {
    .PaintingsListItem{
        height: 260px;
    }
}